/* a universal tag for all the common attributes */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/* provides a background color for all of the body of the webpage */
body {
    background-color: #d9dcd6;
}

/* used <header> tags instead of more classes to clean up the .html file some more */
header {
    padding: 20px;
    background-color: #2a607c;
    color: #ffffff;
}

/* specific attributes for the h1 line in the header */
header h1 {
    display: inline-block;
    font-size: 48px;
}

/* adds a unique color to the letters "seo" in the main logo at the top of the webpage */
header #seo {
    color: #d9dcd6;
}

/* this div, inside the header section, contains the links on the top of the page */
header div {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-size: 20px;
}

/* more edits to the specific links inside the header section */
header ul li {
    display: inline-block;
    margin-left: 25px;
}

/* adds color and removes the hyperliink decoration to the a tags under header */
header a {
    color: #ffffff;
    text-decoration: none;
}

/* this section contains the background image */
.hero {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
    color:transparent; overflow:hidden; /* hides the alt text used for the background image */
}

/* the next large section with main information under the background picture */
.content {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}

/* for the images inside the content element */
.content img {
    max-height: 200px;
    float: left;
    margin-right: 25px;
}

/* moved float-left to the parent ".content img" selector, making it the default. then using float-right when I want to move an element to the right of the parent element */
#float-right {
    float: right;
    margin-left: 25px;
}

/* attributes for the elements within the content element */
.content .information {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    background-color: #0072bb;
    color: #ffffff;
}

/* all attributes for benefits div */
.benefits {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    background-color: #2589bd;
    margin-bottom: 32px;
    color: #ffffff;
    text-align: center;
}

/* attributes for the images within the benefits div */
.benefits img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

/* used footer tags instead of classes to clean up the .html file some more */
footer {
    padding: 30px;
    clear: both;
    text-align: center;
}
